<div id="login-signup-container">
<h1>Log in user</h1>
  <form method="POST" action="/auth/login">
    <div class="field" >
      <label>Username</label>
      <input type="text" name="username"/>
    </div>
    <div class="field" >
      <label>Password</label>
      <input type="text" name="password"/>
    </div>
    <div class="field submit">
      <button  type="submit" class="btn-default btn-lg"><i class="fas fa-play"></i>Login</button>
    </div>
  </form>
</div>






    {{!-- <div class="field submit">
      <button type="submit">Log in</button>
      {{#if messages.length}}
      <ul class="validation">
        {{#each messages}}<li>{{this}}</li>{{/each}}
      </ul>
      {{/if}}
    </div> --}}