<div class="page login">
<h1>Log in user</h1>
  <form method="POST" action="/auth/login">
    <div class="field" >
      <label>Username</label>
      <input type="text" name="username"/>
    </div>
    <div class="field-password" >
      <label>Password</label>
      <input type="password" name="password"/>
    </div>
    <div class="field-submit">
      <button  type="submit" class="btn-default btn-lg"><i class="fas fa-play"></i>Login</button>
    </div>
    <div class="msg success login">
      {{#if messages.length}}
        {{#each messages}}
          <h3>{{this}}</h3>
        {{/each}}
      {{/if}}
    </div>
    <div class="msg error login">
      {{#if loginError.length}}
        {{#each loginError}}
          <h3>{{this}}</h3>
        {{/each}}
      {{/if}}
    </div>
  </form>
</div>






    {{!-- <div class="field submit">
      <button type="submit">Log in</button>
      {{#if messages.length}}
      <ul class="validation">
        {{#each messages}}<li>{{this}}</li>{{/each}}
      </ul>
      {{/if}}
    </div> --}}