<div class="page signup">
<h1>Create user</h1>
  <form method="POST" action="/auth/signup">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username"/>
    </div>

    <div class="field-password" >
      <label>Password</label>
      <input type="password" name="password"/>
    </div>

    <div class="field">
      <label>Choose your instrument</label>
    </div>
    <div class="field">
      	<select name="instrument" class="select instruments">
						<option>Guitar</option>
						<option>Singer</option>
						<option>Drums</option>
						<option>Bass</option>
					</select>
    </div>
    <div class="field-submit">
      <button type="submit" class="btn-default btn-lg"><i class="fas fa-play"></i> Sign up</button>
    </div>
    <div class="msg success login">
      {{#if messages.length}}
        {{#each messages}}
          <p>{{this}}</p>
        {{/each}}
      {{/if}}
    </div>
    <div class="msg error login">
      {{#if signupError.length}}
        {{#each signupError}}
          <p>{{this}}</p>
        {{/each}}
      {{/if}}
    </div>
  </form>
</div>