<div class="page band list">
    {{#each bands}}
        <div class="band-card">
           <ul>
              <li><h2><a href="{{this._id}}">{{this.name}}</a></h2></li> 
           </ul> 
        </div>
    {{/each}}
</div>
