<div class="container">
	<div class="row">
  	<div class="col-lg-12">
	  	<div id="content">	
	  		<h1>Band Maker</h1>
	  		<h3>The best band matching app ever!!!</h3>
	  		<hr>
				<form>
					<select id="mySelect">
						<option>Guitar</option>
						<option>Singer</option>
						<option>Drums</option>
						<option>Bass</option>
					</select>
					</form>
	  		<button class="btn-default btn-lg"><i class="fas fa-play"></i> Get Started</button>
	  	</div>
  	</div>
	</div> 
</div>

