<div class="container">
	<div class="row">
  	<div class="col-lg-12">
	  	<div id="content">	
	  		<h1>Purrfect Match</h1>
	  		<h3>The Only Human-Feline Dating App</h3>
	  		<hr>
	  		<button class="btn-default btn-lg"><i class="fas fa-paw"></i> Get Started</button>
	  	</div>
  	</div>
	</div> 
</div>
