<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Band Maker</title>
	{{!-- <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet"> --}}
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <i class="fas fa-bars"></i><span class="sr-only">Toggle navigation</span>
      </button>
      {{!-- <img src="/public/images/Bandr-logo.png"></img> --}}
      <a class="navbar-brand" href="/">Bandr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li class="active"><a href="/"><i class="fas fa-home glyph"> </i> Home </i></a></li>
      	<li><a href="/profile"><i class ="fas fa-music glyph"></i> Profile </a></li>
				<li><a href="/band/add"><i class ="fas fa-plus glyph"></i> Create band </a></li>
			</ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/auth/signup"><i class="fas fa-user-plus glyph"></i> Sign Up </a></li>
        <li><a href="/auth/login"><i class="fas fa-user glyph"></i> Login </a></li>
        <li><form method="post" action="/auth/logout">
              <button class="btn-logout"><i class="fas fa-sign-out-alt glyph"></i> Logout </button>
            </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<script
  src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script
 type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  {{{body}}}
</body>
</html>  
