<div>
  {{!-- image upload --}}
</div>

<div>
  <h1>Hello, {{currentUser.username}}</h1>
  <p>Name: {{currentUser.username}}</p>
  <p>Your Instrument: {{currentUser.username}}</p>
    <p>Name: {{currentUser.username}}</p>


</div>

