<div>
  {{!-- image upload --}}
</div>
<div class="page profile">
  <hr class="profile-hr">
  <h1>Hello, {{currentUser.username}}</h1>
  <h3>Your Instrument:</h3> <p>{{currentUser.instrument}}</p>
  <h3>Your Band:</h3><p>{{band.name}}</p>
  <hr class="profile-hr">
</div>

{{!-- <div>
  <a href="/profile/edit">Edit Profile</a>
</div> --}}

