/* layout style */

body {
	background: url(https://png.pngtree.com/element_our/md/20180327/md_974d58fe28a206b7f340acc8ec8b8793.jpg);
	background-size: cover;
	background-position: center;
	/* font-family: 'Amaranth', sans-serif; */
	font-family: 'Quicksand', sans-serif;
	color: rgb(239, 242, 244);
}

html {
	height: 100%;
}


/* typography */

h2 {
	font-size: 1.6em;
}

p {
	font-size: 1em;
}

hr {
	/* width: 400px; */
	width: 32vh;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}

a {
	color: white;
}





/* forms */


input {
	color: black;
}

select {
	color: black;
}

label {
	font-size: 1.5em;
}

.invalid-feedback {
	display: block;
}

ul {
	list-style-position: disc;
}

/* layout */

.page {
	height: 75vh;
	margin: auto 10%;
	text-align: center;
	/* background-color: rgb(221, 221, 221, 0.05); */
	text-shadow: 4px 0px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
}

/* components */

.field {
	margin-bottom: 3vh;
}

.btn-sign-login {
	color:rgba(0,0,0,0.4); 
}
.btn-logout {
	background: none;
	color: #777;
	border: none;
	padding: 10px 15px;
	display: block;
	padding: 10px 15px;
	width: 100%;
	text-align: left;
}

.select.instruments{
	width: 26vh;
	height: 8vh;
	font-size: 1.25em;
	background-color: rgb(255, 255, 255);
	margin-bottom: 25%;
	border-radius: 6px;
}

.field-password {
	margin-bottom: 6vh;
}

.navbar-brand {
	font-size: 2.25em;
}

nav.navbar-nav {
	font-size: 1.25em;
}

.navbar-default .navbar-toggle {
	border-color: #ddd;
	color: #777;
	padding: 6px 10px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin-right: -1px;
	margin-left: -15px;
}

/* pages */

.page.login.signup {
	display: flex;
	flex-direction: column;
}

.page.band.list {
	display: flex;
	flex-flow: column;
}

.page.band.detail {
	display: flex;
	flex-flow: column; /*we are gonna change to wrap when we upload the band-image*/
}

.page.band.add {
	display: flex;
	text-align: left;
}
/*cards*/

.band-card{
	color: white;
	font-style: italic;
}

.field.check.box {
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
    /* margin-bottom: 1vh; */
}

/* .check-box {

} */






/* rest */

/* #btn-signup-login {
	width: 125px;
	height: 25px;
	border-radius: 12px;
	color:rgba(0,0,0,0.4); 
} */

/* .content {
	height: 75vh;
	margin: auto 10%;
	text-align: center;
	background-color: rgb(0, 0, 0, 0.6);
	text-shadow: 4px 0px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
} */

/* for laptop */

/* #content {
	height: 75vh;
	margin: auto 5%;
	text-align: center;
	padding-top: 25%;
	margin: 7% 10% 5% 10%;
	background-color: rgb(0, 0, 0, 0.5);
	padding: 188px;
	text-shadow: 4px 0px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
} */

/* .content-login-signup {
	display: flex; 
	flex-flow: column;
	height: 75vh;
	margin: auto 10%;
	text-align: center;
	background-color: rgb(0, 0, 0, 0.8);
	text-shadow: 4px 0px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
} */

/* for laptop */

/* #login-signup-container {
	display: flex; 
	flex-flow: column;
	text-align: center;
	margin: 5.4% 25.4% 0% 25.4%;
	background-color: rgb(0, 0, 0, 0.5);
	padding: 199px;
} */


/* for laptop */

/* #mySelect {
	width: 10%;
	height: 5%;
	font-size: 1.25em;
	border-radius: 3px;
	margin-bottom: 16px;
	background-color: rgb(255, 255, 255);
} */

/* #band-card-container {
	display: flex;
	flex-direction: column;
	height: 75vh;
	margin: auto 10%;
	text-align: center;
	background-color: rgb(0, 0, 0, 0.8);
	text-shadow: 4px 0px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
}

#band-detail-container {
	display: flex;
	flex-flow: column;
	height: 75vh;
	margin: auto 10%;
	text-align: center;
	background-color: rgb(0, 0, 0, 0.8);
	text-shadow: 4px 0px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
} */

/* class style */

/* .fas fa-user-plus {
	margin-right: 5px
} */

/* .field-submit {
	margin-top: 8px;
} */






