/* layout style */

body {
	/* background: url(../images/background-image.jpg); */
	background-color: #1a1e21;
	background-size: cover;
	background-position: center;
	/* font-family: 'Amaranth', sans-serif; */
	font-family: 'Quicksand', sans-serif;
	color: #777777;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

html {
	height: 100%;
}


/* typography */

h {
	margin-bottom: 4vh;
	letter-spacing: 0.1vh;
}


h1 {
	color: rgb(211, 211, 211);
	margin-bottom: 4vh;
}

h2 {
	font-size: 1.6em;
}

h3 {
    font-size: 1.5em;
    color: rgb(211, 211, 211);
}

p {
	font-size: 1.2em;
    color: #777777;
    margin-bottom: 3vh;
}

.home-hr {
	/* width: 400px; */
	width: 32vh;
	margin-bottom: 8vh;
	border-top: 1px solid rgb(211, 211, 211);
	border-bottom: 1px solid rgba(0,0,0,0.2)
}

a {
	color: white;
}


/* forms */

button {
	padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    background-color: #303030;
    border-color: #303030;
	border-style: dashed;
	padding: 10px 15px;
	color: rgb(211, 211, 211);
}

input {
	color: black;
	background-color: rgb(211, 211, 211);
	margin-bottom: 3vh;
}

select {
	color: black;
}

label {
	font-size: 1.2em;
    color: #777777;
    margin-bottom: 4vh;
}

.invalid-feedback {
	display: block;
}

ul {
	list-style-position: disc;
}

/* .apply-form {
	margin-left: 22vh;
} */


/* layout */

.page {
	height: 75vh;
	margin: auto 10%;
	text-align: center;
	/* background-color: rgb(221, 221, 221, 0.05); */
	text-shadow: 4px 0px 3px rgba(0,0,0,0.8),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
}

.page.home {
	height: 63vh;
 	margin-top: 8vh;
}

.btn {
	font-size: 1.25em;
    background-color: #303030;
    margin-bottom: 5vh;
    border-radius: 6vh;
    color: rgb(204, 209, 209);
	border-color: darkgrey;
	border-style: double;
}

.btn-default {
    line-height: 1.3333333;
    font-size: 1.25em;
    background-color: #303030;
    margin-bottom: 5vh;
    border-radius: 6vh;
    color: rgb(204, 209, 209);
    border-color: rgb(104, 104, 104);
	border-style: solid;
	text-align: center;
}

.msg.error.login {
	margin-bottom: 5vh;
    border-radius: 6vh;
    color: rgb(204, 209, 209);
	border-color: darkgrey;
	width: 10vh;
}

page.profile {
	text-align: center;
	background-color: rgba();
	margin-top: 13vh
}

.logo 	{
	display: flex;
}

.logo img {
	width: 20vh;
	height: 14vh;
  margin-left: 12vh;
}

.btn-default.btn-apply {
	margin-top: 5vh;
}

.profile-hr {
	width: 45vh;
	margin-top: 13vh;
}

/* components */

.field.band.create {
	margin-bottom: 3vh;
	margin-top: 3vh;
}

.field.band.create button {
	margin-left: 8vh;
}
/* 
.btn-sign-login {
	color:rgba(0,0,0,0.4); 
} */
/* .btn-logout {
	background: none;
	color: #777;
	border: none;
	padding: 10px 15px;
	display: block;
	padding: 10px 15px;
	width: 100%;
	text-align: left;
} */

/* .btn-default.btn-lg {
	margin-bottom: 5vh;
    border-radius: 6vh;
    color: rgb(204, 209, 209);
	border-color: darkgrey;
	background-color: #303030;
}
.btn-default.btn-apply {
	background-color: rgba(135, 154, 151);
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
	color: white;
} */

.select.instruments{
	width: 28vh;
    height: 8vh;
    font-size: 1.25em;
    background-color: #303030;
    margin-bottom: 5vh;
    border-radius: 6vh;
    color: rgb(204, 209, 209);
	border-color: darkgrey;
	border-style: double;
	padding-left: 2vh;
}

.field-password {
	margin-bottom: 5vh;
}



/* pages */

.page.signup {
	display: flex;
	flex-direction: column;
}

.page.login {
	display: flex;
	flex-direction: column;
	height: 63vh;
	margin-top: 4vh;
}

.page.band {
	display: flex;
	flex-flow: column;
}

.page.band.add label {
	margin-bottom: 0vh;
}
/* 
.page.band.detail {
	display: flex;
	flex-flow: column;
} */

.page.home h1 {
	letter-spacing: 0.9vh;
	/* float: left; */
}

.page.home p {
	margin-bottom: 5vh;
}

.page.home select {
	margin-bottom: 8vh;
}

.page.band.detail h3 {
	display: block;
	text-decoration: underline;
	font-size: 1.7em
}

.page.band.detail p {
	font-size: 1.3em;
	margin-bottom: 4vh;
}

.page.band.detail h4 {
	color: rgb(204, 209, 209);
}

.page.band.add {
	display: flex;
	text-align: left;
	flex-direction: column;
}
/*cards*/

.band-card {
	margin-top: 10vh;
	text-align: center;
}

.band-card ul {
	color: white;
	font-style: italic;
	list-style: none;
	align-items: center;
}

.card-body {
		margin-bottom: 3vh;
		padding: 20px 20px 30px 20px;
		width: 56vh;
		height: 25vh;
		border-bottom: 0.1vh groove;
		border-top: 0.1vh groove;
}

.field.check.box {
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
}

.check-box {
	margin-bottom: 3vh;
}

.success.apply {
	text-align: center;
}

.applicants.container {
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .btn.btn-primary {
	font-size: 0.8vh;
} */

.view.apply.owner {
	font-size: 1.25em;
	padding: 2vh;
    border: 1px darkgrey solid;
    border-radius: 5vh;
}

.applicants.info {
	width: 50%;
}

.applicants.buttons {
	width: 50%;
	text-align: right; 
}

.applicants.separe.line {
	width: 56vh;
	border-top: 1px solid rgb(211, 211, 211);
}


/* .check-box {

} */

.view.apply.owner {
  animation: pulse 5s infinite;
}

/* @keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #777777;
  }
}

.btn-default.btn-apply {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    background-color: rgb(248, 0, 12);
  }
  100% {
    background-color: #777777;
  }
} */


/* bootstrap style */

.btn-lg, .btn-group-lg > .btn {
    padding: 1.9vh 2.8vh;
	font-size: 3vh;
	width: 28vh;
    line-height: 1.3333333;
    font-size: 1.25em;
    background-color: #303030;
    margin-bottom: 5vh;
    border-radius: 6vh;
    color: rgb(204, 209, 209);
	border-color: rgb(104, 104, 104);
    border-style: solid;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: rgb(211, 211, 211);
    background-color: #303030;
}
.navbar-brand {
	font-size: 2.25em;
	margin-left: 2.5vh;
}

nav.navbar-nav {
	font-size: 1.25em;
}

.navbar-default .navbar-toggle {
	color: #777;;
	padding: 6px 10px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin-right: -1px;
	margin-left: -15px;
	background-color: #303030;
}

.navbar-default .navbar-brand {
    color: rgb(211, 211, 211);
    font-size: 3.8vh;
}

.navbar-default .navbar-nav > li > a {
    color: rgb(211, 211, 211);
}

.navbar-nav {
	margin-left: 1vh;
}

.glyph  {
	margin-right: 1vh;
}

button {
	padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    background-color: #303030;
    border-color: #303030;
	border-style: dashed;
	padding: 10px 15px;
	color: rgb(211, 211, 211);
}

